<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- 1 Botón para agregar Género -->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarGenero">
                            <i class="fas fa-plus"></i> [[#{genero.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Modal para agregar Género -->
        <section th:fragment="agregarGenero">
            <div id="agregarGenero" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{genero.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/genero/guardar}" th:object="${genero}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">[[#{genero.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="descripcion">[[#{genero.descripcion}]]</label>                                  
                                    <textarea class="form-control" name="descripcion" rows="3"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="activo">[[#{genero.activo}]]</label>
                                    <input class="form-check-input" 
                                           type="checkbox" 
                                           name="activo" 
                                           id="activo" checked>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Listado de Géneros -->
        <section th:fragment="listadoGeneros" id="generos">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{genero.listado}]]</h4>
                            </div>
                            <div th:if="${generos != null and !generos.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th class="text-center">[[#{genero.nombre}]]</th>
                                            <th class="text-center">[[#{genero.descripcion}]]</th>
                                            <th class="text-center">[[#{genero.activo}]]</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="genero, contador : ${generos}">
                                            <td class="text-center">[[${contador.count}]]</td>
                                            <td class="fs-6">[[${genero.nombre}]]</td>
                                            <td class="fs-6">[[${genero.descripcion}]]</td>
                                            <td class="text-center" th:text="${genero.activo} ? 'Activo' : 'Inactivo'" />
                                            <td>
                                                <a th:href="@{/genero/eliminar/}+${genero.idGenero}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/genero/modificar/}+${genero.idGenero}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${generos == null or generos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{genero.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-tags"></i> [[${totalGeneros}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento de edición de Género -->
        <section th:fragment="editarGenero">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/genero/guardar}" 
                          th:object="${genero}"
                          class="was-validated">
                        <input type="hidden" name="idGenero" th:field="*{idGenero}"/>

                        <section th:replace="~{genero/fragmentos :: botonesEditar}"/>
                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">[[#{genero.nombre}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{genero.descripcion}]]</label>                                  
                                                    <textarea class="form-control" 
                                                              th:field="*{descripcion}" rows="3"></textarea>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="activo">[[#{genero.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           th:field="*{activo}" 
                                                           id="activo">
                                                </div>     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Botones de edición -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/genero/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/genero/eliminar/}+${genero.idGenero}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

